@use "../variables" as *;

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border: 5px solid $bgBorderColor;
  border-bottom: 1px solid $bgBorderColor;
  height: 10vh;

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    .logo {
      .logo-content {
        color: $primaryColor;
        font-size: 42px;
      }
    }
    .nav-bar {
      display: flex;
      align-items: center;
      .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 40px;
        padding-right: 40px;
        .nav-item {
          a {
            font-size: 16px;
            font-weight: 500;
            color: $primaryColor;
            transition: all 0.3s;
            position: relative;
            padding-bottom: 4px;
            font-weight: 500;
            &:hover {
              color: $textHoverColor;
            }
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2px;
              width: 0;
              background-color: $buttonHoverColor;
              transition: width 0.5s ease;
              border-radius: 2px;
            }
            &:hover::after {
              width: 100%;
              background-color: $textHoverColor;
            }
            &.active {
              color: $textHoverColor;
             
            }
          }
        }
      }
      .mode {
        #toggle-mode {
          width: 40px;
          height: 20px;
          border: 2px solid $primaryColor;
          border-radius: 20px;
          position: relative;
          background: none;
          cursor: pointer;
          padding: 10px;
          outline: none;

          .toggle-circle {
            width: 16px;
            height: 16px;
            background: $primaryColor;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            transition: left 0.3s ease;
          }

          &.active {
            .toggle-circle {
              left: 18px;
            }
          }
        }
      }
    }
  }
}
