$primaryColor: #5671a6;
$bgBorderColor: #6d8093;
$textColor: #616161;
$cardColor: #dbdbdb;
$textHoverColor: #00ffff;
$whiteColor: #fff;
$buttonHoverColor: #4ecad8;
$transparent: transparent;
$darkGreyColor: #383838;
$blueColor: #007bff;
$greenColor: #28a745;
$orangeColor: #fd7e14;
$redColor: #dc3545;
$purpleColor: #6f42c1;

